header {

    width: 90%;

    height: 100px;

    background-color: #f4a261;

    border: 3px solid #2a9d8f;

    padding: 10px;

    margin: 25px;

}



nav {

    position: fixed;

    width: 90%;

    height: 50px;

    background-color: #3f51b5;

    top: 170px;

    left: 35px;

    color: white;

    padding: 10px;

}



article {

    width: 65%;

    height: 200px;

    background-color: #e76f51;

    border: 5px solid #6b7280;

    position: relative;

    top: 15px;

    padding: 10px;

    margin-bottom: 15px;

}



aside {

    width: 40%;

    height: 420px;

    background-color: #f4b400;

    position: absolute;

    left: 50%;

    right: 10%;

    top: 235px;

    padding: 10px;

}



footer {

    width: 100%;

    height: 50px;

    background-color: #1d3557;

    position: fixed;

    bottom: 0px;

    color: white;

    padding: 10px;

}



.articles {

    position: relative;

    left: 30px;

    top: 45px;

    width: 65%;

    height: 70%;

}
